<li class="main__advantages-item main__advantages-item--gifts">
	<div class="main__advantages-item--flag">
		<div class="main__advantages-item-flag-price"><span class="main__advantages-item-flag-price-text"> -350 &#8381;</span></div>
		<img src="img/12-gifts/pic4.jpg" alt="event">
	</div>

	<p class="events__item-title events__item-title--gifts">ТЕХОСМОТР за оформление ОСАГО-онлайн</p>


	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
	<button class="btn btn__review btn__modal btn__modal--gifts" type="button">Выбрать подарок</button>
</li>